
.row
  .col-md-4.col-md-push-8
    %h1
      =@painting.name
      %small=@painting.gallery.name
    %p=@painting.description
    %p.buy
      =link_to "Purchase", "#", :class => "btn btn-primary"
  .col-md-8.col-md-pull-4
    =image_tag @painting.image_url(:product).to_s, :class => "img-responsive"
    

.row
  .col-md-12
    = link_to 'Edit', edit_painting_path(@painting)
    \|
    = link_to 'Back', paintings_path
