/%p#notice= notice
.page-header
  %h1
    =@page.name
.row
  .col-md-8
    %p
      =simple_format @page.content
.row
  .col-md-12
    = link_to 'Edit', edit_page_path(@page), :class => "btn btn-primary"
/\|
/= link_to 'Back', pages_path
