/ -- BANNER --
%section
  .well.well-lg.text-center
    %h1=@home.title
    %p.lead=@home.content

= link_to 'Edit', edit_home_path(@home), :class => "btn btn-primary"
/\|
/= link_to 'Back', homes_path
